@import "colors";

body {
    background-color: $dark;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: $sand;
}

p {
    color: $sand;
}

.minesweeper {
    width: 600px;
    margin: 0.5rem auto;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col {
    flex: 1;
    position: relative;
    background-color: $indigo;
    border: 0.1rem solid black;
    margin: 0.5px 0.5px 0.5px 0.5px;
}
